{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/parsley.min.js"></script>

    <script type="text/javascript" src="/dvladesign/app/views/examples/elements/editfield.js"></script>

<script type="text/javascript" src="/app/testjava.js"></script>

    <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<header class="page-header">

<style type="text/css">

.border-bottom-summary {
  padding-right: -15px;
  border-width: 1px;
  border-color: #c0c0c0;
  border-bottom-style: solid;
  margin: 0 0px;
}

</style>




</header>

{{/head}}


{{$propositionHeader}}
  
  {{>includes/govuk_firstregprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}




<main id="content" role="main">


  
  <div>
    
    <a class="back-to-previous" href="javascript:history.back()">
    Back 
    <span class="visuallyhidden"> to the previous question</span>
    </a>
  </div>



  <br clear="all">




  <form action="basic-flow" method="get" class="form" data-parsley-validate>
  

    <input type="hidden" name="nextlink" value="keeperdetailsmisc">


    <h1 class="form-title heading-large" style="margin:0 0 1em 0;padding:0">
     Confirm keeper details
    </h1>

    <p>
      It is a legal requirement that the information you provide is correct to the best of your knowledge</p>

   <ul class="ul-data">

         <li><span>Name</span><strong>Mr Joe Michael Bloggs</strong></li>
         <li><span>Address</span><strong>123 ABC Street</strong></li>
          <li><span>Town/City</span><strong>Swansea</strong></li>
          <li><span>Post Code</span><strong>SA12BC</strong></li>
          </ul>
   
   

      
    <div class="form-group" style="padding-top:2.2em">

      <input type="submit" class="button" value="Continue">

    </div>






  </form>


</main>



{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}