{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/parsley.min.js"></script>

    <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/numberplate.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/dvladesign/app/assets/stylesheets/regmark.css" media="screen" rel="stylesheet" type="text/css" />


{{/head}}


{{$propositionHeader}}
  
  {{>includes/govuk_firstregprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}





<main id="content" role="main">


  
  <div>
   
    <a class="back-to-previous" href="javascript:history.back()">
    Back 
    
    <span class="visuallyhidden"> to the previous question</span>
    </a>
  </div>



  <br clear="all">




  <form action="basic-flow" method="get" class="form" data-parsley-validate>
  

    <input type="hidden" name="nextlink" value="vehicleselect">


    <h1 class="form-title heading-large" style="margin:0 0 1em 0;padding:0">
      Find a vehicle
    </h1>



<div id="form-field">

      <label class="form-label" for="vin" style="padding-top:0.50em">
      
        Model
      
      </label>


      <div id="validfield-1">

        <input class="form-control" type="text" maxlength="20" autocomplete="off" size="20" id="vin" 
        style="border:#6F777B solid 2px;font-size:120%;width:280px;border-radius:4px;line-height:1.6" 
        data-parsley-trigger="change focusout"> 

      </div>
     

    </div>
    <div id="form-field">

      <label class="form-label" for="vin" style="padding-top:0.50em">
      
       
       Colour
      
      </label>


      <div id="validfield-1">

        <input class="form-control" type="text" maxlength="20" autocomplete="off" size="20" id="vin" 
        style="border:#6F777B solid 2px;font-size:120%;width:280px;border-radius:4px;line-height:1.6" 
        data-parsley-trigger="change focusout">

      </div>

    <br clear="all">

<br>



   


    
    <div class="form-group" style="padding-top:2.2em">

      <input type="submit" class="button" value="Continue">

    </div>






  </form>

</main>




{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
