{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    
    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


{{/head}}


{{$propositionHeader}}
  {{>includes/govuk_firstregprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}} 





<main id="content" role="main">


  
  



  <br clear="all">

  


  <form action="basic-branch" method="get" class="form">
  
    <input type="hidden" name="nextlink" value="user">


    <h1 class="form-title heading-large" style="margin:0 0 1em 0;padding:0">
      Tell us who you are
    </h1>

    

    
    <label for="radio-inline-1" class="block-label" style="padding-left:50px;margin-top:0;">

      <input id="radio-inline-1" type="radio" name="branch" value="individual">
      
      I am an Individual

    </label>



    
    
    <label for="radio-inline-2" class="block-label" style="padding-left:50px;margin-bottom:0">

      <input id="radio-inline-2" type="radio" name="branch" value="dealer">
      
      I am a Motor Dealer
   
    </label>






   
    <div class="form-group" style="padding-top:2.2em">

      <input type="submit" class="button" value="Continue">

    </div>





  </form>


</main>



{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}