{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <link rel="stylesheet" type="text/css" href="/public/stylesheets/jquery-custom-form-v2.css" /> 
  
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="/public/javascripts//jquery-custom-form-v2.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
    
      $(".cus_checkbox").cuscheckbox();
      $(".cus_radio").cusradio();
      $(".cus_select").cusselect();
    
    }); 
  </script>
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" bref="css/styles-ie.css" />
  <![endif]--> 
{{/head}}


{{$propositionHeader}}
  {{>includes/govuk_firstregprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href="/public/stylesheets/numberplate.css" media="screen" rel="stylesheet" type="text/css" />





<main id="content" role="main" style="padding-bottom:0">


  <!-- <h1 class="form-title heading-xlarge">
    Taxing a vehicle
  </h1> -->


  <div>
  <a class="back-to-previous" href="javascript:history.back()">Back <span class="visuallyhidden"> to the previous question</span></a>
  </div>

  <br clear="all">


<form action="basic-branch" method="get" class="form">
  
    <input type="hidden" name="nextlink" value="vrn">


    <h1 class="form-title heading-large" style="margin:0 0 1em 0;padding:0">
      Number Plate Selection
    </h1>
    <p>Please select the desired number plate from the list below</p>
     

<div class="wrap">

  <div class="inner">
    <ul>

    
      <li class="cus_box_hidden">
        <input class="cus_radio" type="radio" name="branch" value="CU65CDF" />
        <label><i class="reg-mark" style="font-size:120%">CU65 CDF</i></label>
      </li>

      <li class="cus_box_hidden">
        <input class="cus_radio" type="radio" name="branch" value="CU65CDE" />
        <label><i class="reg-mark" style="font-size:120%">CU65 CDE</i></label>
      </li>

      <li class="cus_box_hidden">
        <input class="cus_radio" type="radio" name="branch" value="CU65DEF" />
        <label><i class="reg-mark" style="font-size:120%">CU65 DEF</i></label>
      </li>
     
    </ul> 
  </div>

</div>

  <br>
<details style="">

        <summary>
          <span class="summary">Have a personal registration number on a certificate?</span>
        </summary>

        <div class="panel-indent js-hidden" id="details-content-0" aria-hidden="true" style="display: none; border-left-width: 16px; border-left-style: solid; border-left-color: rgb(235, 235, 235); padding: 2px,20px; margin: 12px 2px;">

        
        <p>In order to apply your private registration please provide...</p>
        <div id="form-field">

      <label class="form-label" for="vin" style="padding-top:0.50em">
      
        V750/V778 Certificate number
      
      </label>


      <div id="validfield-1">

        <input class="form-control" type="text" maxlength="20" autocomplete="off" size="20" id="vin" 
        style="border:#6F777B solid 2px;font-size:120%;width:280px;border-radius:4px;line-height:1.6" 
        data-parsley-trigger="change focusout"> 

      </div>
     

    </div><!-- end of form field -->
        
        <div id="form-field">

      <label class="form-label" for="vin" style="padding-top:0.50em">
      
        VRN number
      
      </label>


      <div id="validfield-1">

        <input class="form-control" type="text" maxlength="20" autocomplete="off" size="20" id="vin" 
        style="border:#6F777B solid 2px;font-size:120%;width:280px;border-radius:4px;line-height:1.6" 
        data-parsley-trigger="change focusout"> 

      </div>
     

    </div><!-- end of form field -->

 
        </div>
      </details>
      <br clear="all">

      <details style="">

        <summary>
          <span class="summary">Interested in buying a personal registration?</span>
        </summary>

        <div class="panel-indent js-hidden" id="details-content-0" aria-hidden="true" style="display: none; border-left-width: 16px; border-left-style: solid; border-left-color: rgb(235, 235, 235); padding: 2px,20px; margin: 12px 2px;">

        <a href="http://dvlaregistrations.direct.gov.uk">Buy a registration number from DVLA</a>
        
        </div>
      </details>


  





    


  <br clear="all">

  <div class="form-group" style="padding-top:2.2em">

      <input type="submit" class="button" value="Continue">

    </div>



  </form><!-- end of the form -->


</main><!-- end content container -->






{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}