 {{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>


{{/head}}


{{$propositionHeader}}
  {{>includes/govuk_firstregprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main" style="padding-bottom:0">

<!--<div>
  <a class="back-to-previous" href="javascript:history.back()">Back <span class="visuallyhidden"> to the previous question</span></a>
  </div>

  <br clear="all">-->

<form action="evl-3-flow" method="get" class="form">
<input type="hidden" name="nextlink" value="evl-end-dd">
<input type="hidden" name="nextbacklink" value="evl-pay-card">
<input type="hidden" name="regmark" value="{{defaultreg}}">


<div class="body-container group">

    
<div class="application-confirmation" xmlns:utils="urn:utils" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" style="margin-top:2em">

   <h1>✔ Registration successful</h1>
   <h2>An email receipt has been sent to:
      <strong>you@domain.com</strong>
   </h2>
    
</div>

</div>

<div class="grid-row">
      
<div class="column-two-thirds">

   <table style="font-size:100%">

   <thead>
     <tr>
         <th style="font-size:100%">Item</th>
         <th style="font-size:100%">Price</th>
     </tr>

   </thead>

   <tbody>
     <tr>
       <td style="font-size:100%" valign="top">

         <p>

         <b>First Tax Fee</b>

         <br>

         <br>

         </b>

         </p>
              
      </td>

       <td style="font-size:100%" valign="top">

           <p>£65.00</p>

       </td>
            
       </tr>

       <tr>

       <td style="font-size:100%" valign="top">

           <p>First Registration Fee<br></p>

       </td>

       <td style="font-size:100%" valign="top">

          <p>£55.00</p>

       </td>

     </tr>


     <tr>
              
       <td style="font-size:100%">

           <strong>Total</strong>

        </td>
              
       <td style="font-size:100%">

        <strong>£120.00</strong>

       </td>

     </tr>

   </tbody>

   </table>
        
      
<p style="margin-top:2em">
    You may want to
   <a href="#">print this page for your records</a>
    and we have emailed it to the new keeper if an email was provided.
</p>

</div>

</div>

<details style="">

   <summary>

     <span class="summary">What to do next?</span>
        
   </summary>

<div class="panel-indent js-hidden" id="details-content-0" aria-hidden="true" style="display: none; border-left-width: 16px; border-left-style: solid; border-left-color: rgb(235, 235, 235); padding: 2px,20px; margin: 12px 2px;">

<p>A document has been sent to your email address. print it off and present it to a number plate supplier and get your plate made up and displayed.</p>
        

<div id="form-field">

   <label class="form-label" for="vin" style="padding-top:0.50em">
      
        V750/V778 Certificate number
      
   </label>


<div id="validfield-1">

        <input class="form-control" type="text" maxlength="20" autocomplete="off" size="20" id="vin" 
        style="border:#6F777B solid 2px;font-size:120%;width:280px;border-radius:4px;line-height:1.6" 
        data-parsley-trigger="change focusout"> 

</div>
     

</div>
        
<div id="form-field">

   <label class="form-label" for="vin" style="padding-top:0.50em">
      
        VRN number
      
   </label>


<div id="validfield-1">

   <input class="form-control" type="text" maxlength="20" autocomplete="off" size="20" id="vin" 
        style="border:#6F777B solid 2px;font-size:120%;width:280px;border-radius:4px;line-height:1.6" 
        data-parsley-trigger="change focusout"> 

</div>
     

</div>

 
</div>

</details>

<br clear="all">


<div class="form-group" style="padding:1em 0">

   <input type="submit" class="button" value="Finished">

</div>

</form>

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
