{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/parsley.min.js"></script>

    <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/numberplate.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/dvladesign/app/assets/stylesheets/toggletest.css" media="screen" rel="stylesheet" type="text/css" />


{{/head}}


{{$propositionHeader}}
  
  {{>includes/govuk_firstregprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}
<form>
<input type= button id="btn1" class="reg-mark2" Value="choice 1"/>
<button type="button" class="reg-mark2" id="btn2">Choice 2</button>
<button type="button"  class="reg-mark2"id="btn3">Choice 3</button>

<input type="hidden" id="btn2" value="Choice 2" onchange="setvrn();" />
<input type="hidden" id="btn3" value="Choice 3" onchange="setvrn();" />
</form>





    





{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
