{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/parsley.min.js"></script>

    <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

{{/head}}


{{$propositionHeader}}
  
  {{>includes/govuk_firstregprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}




<!-- this is a container for the page contents -->
<main id="content" role="main">


  
  <div>
    <!-- the back link uses a simple javascript to go to previous page -->
    <a class="back-to-previous" href="javascript:history.back()">
    Back 
    <!-- the rest of this label is hidden, only used for screenreaders -->
    <span class="visuallyhidden"> to the previous question</span>
    </a>
  </div>



  <br clear="all">




  <form action="basic-flow" method="get" class="form" data-parsley-validate>
  <!-- This form action runs a simple script that goes to the 'next' page,
       the name of which is set below as 'nextlink' in a hidden input field.
       The Parsely tag tells the helper to perform validation on this form.
  -->

    <input type="hidden" name="nextlink" value="vehicledetails">


    <h1 class="form-title heading-large" style="margin:0 0 1em 0;padding:0">
      Vehicle details
    </h1>


   
    <br clear="all">


<div id="form-field">

      <label class="form-label" for="vin" style="padding-top:0.50em">
      
        Vehicle Identification Number (VIN)
      
      </label>


      <div id="validfield-1">

        <input class="form-control" type="text" maxlength="20" autocomplete="off" size="20" id="vin" 
        style="border:#6F777B solid 2px;font-size:120%;width:280px;border-radius:4px;line-height:1.6" 
        data-parsley-trigger="change focusout"> <!--required data-parsley-errors-container="validfield-1" 
        data-parsley-minlength="17" 
        data-parsley-minlength-message="The VIN number should contain a minimum of 17 characters" 
        data-parsley-required-message="The VIN number is required"-->

      </div>
      <p class="form-hint">Minimum 17 digit reference from the chassis or documentation</p>

    </div><!-- end of form field -->

    <br clear="all">

    <p style="padding:1em 0"><a href="https://www.gov.uk/vehicle-registration/vehicle-identification-number">Where to find the VIN</a>




   


    <!-- one green action button per page -->
    <div class="form-group" style="padding-top:2.2em">

      <input type="submit" class="button" value="Continue">

    </div>






  </form><!-- end of the form -->


</main><!-- end content container -->




{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
