{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/parsley.min.js"></script>

    <script type="text/javascript" src="/dvladesign/app/views/examples/elements/editfield.js"></script>

    <script type="text/javascript" src="/app/testjava.js"></script>

    <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<header class="page-header">

<style type="text/css">

.border-bottom-summary {
  padding-right: -15px;
  border-width: 1px;
  border-color: #c0c0c0;
  border-bottom-style: solid;
  margin: 0 0px;
}

</style>


</header>

{{/head}}


{{$propositionHeader}}
  
  {{>includes/govuk_firstregprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}


<main id="content" role="main" style="padding-bottom:0">


  <!-- <h1 class="form-title heading-xlarge">
    Taxing a vehicle
  </h1> -->


<div>
  <a class="back-to-previous" href="javascript:history.back()">Back 
  <span class="visuallyhidden"> to the previous question</span>
  </a>
</div>

<br clear="all">


<form action="basic-branch" method="get" class="form">
  
<input type="hidden" name="nextlink" value="months">
  
<h2 class="heading-medium" style="padding:0;margin:0 0 0.3em 0">Vehicle details</h2>

<br clear="all">

<h3 class="heading-small">First licence rates based on CO2 Emmissions and Fuel type</h3>
  
<table>
<thead>
   <tr>

     <th scope="col" data-key="taxband" class="" role="columnheader" width="15%">
       <p><strong>Band</strong></p>
     </th>

     <th scope="col" data-key="co2" class="" role="columnheader" width="40%">
       <p><strong>CO2 Emission figure (g/km)</strong></p>
     </th>

     <th scope="col" data-key="12month" role="columnheader" width="27%">
       <p><strong>12 month tax</strong></p>
     </th>

     <th scope="col" data-key="6month" role="columnheader" width="30%">
       <p><strong>6 month tax</strong></p>
     </th>
   </tr>

</thead>

<tbody>

   <tr>
     <td data-title="taxband" class="" data-key="taxband" width="12"> E </td>
     <td data-title="co2" class="" data-key="co2" width="25%"> 131 to 140</td>
      <td data-title="12month" class="" data-key="12month" width="25%">£130</td>
     <td data-title="6month" class="" data-key="6month" width="25%">£71.50</td>
   </tr>

</tbody>

</table>

</section>

<br clear="all">

<label for="radio-inline-1" class="block-label" style="padding-left:50px;margin-top:30px;">

   <input id="radio-inline-1" type="radio" name="branch" value="six">
    
      6 months tax

</label>


<label for="radio-inline-2" class="block-label" style="padding-left:50px;margin-bottom:0">

   <input id="radio-inline-2" type="radio" name="branch" value="twelve">
      
      12 months tax
   
   </label>


<br clear="all">

<br>


<div class="form-group" style="padding-top:2.2em">

   <input type="submit" class="button" value="Continue">

</div>


</form>

</main>




{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
