{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <!-- add this javascript to make the radio/checkbox buttons work correctly -->
    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


{{/head}}


{{$propositionHeader}}
  
  {{>includes/govuk_firstregprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}




<!-- this is a container for the page contents -->
<main id="content" role="main">


  <div>
    <!-- the back link uses a simple javascript to go to previous page -->
    <a class="back-to-previous" href="javascript:history.back()">
    Back 
    <!-- the rest of this label is hidden, only used for screenreaders -->
    <span class="visuallyhidden"> to the previous question</span>
    </a>
  </div>
  



  <br clear="all">

  


  <form action="basic-branch" method="get" class="form">
  <!-- This form action runs a simple script that goes to one or another page,
       the name of which is based on the hidden name below + the values from the input buttons in the form.
  -->
    <input type="hidden" name="nextlink" value="type">


    <h1 class="form-title heading-large" style="margin:0 0 1em 0;padding:0">
      Type of vehicle you are registering
    </h1>

    <label for="radio-inline-4" class="block-label" style="padding-left:50px;margin-top:0;">

      <input id="radio-inline-4" type="radio" name="branch" value="new">
      <!-- in the input we set type (radio) variable and value for the link to next page -->
      a new vehicle

    </label> 
    <br clear="all">

      <details style="">
        <summary>
          <span class="summary">What is classed as a new vehicle</span>
        </summary>
        <div class="panel-indent js-hidden" id="details-content-0" aria-hidden="true" style="display: none; border-left-width: 16px; border-left-style: solid; border-left-color: rgb(235, 235, 235); padding: 0px 20px; margin: 12px 0px;">
        
        <p>A vehicle that is a current model or a model that ceased production within the last 2 years. It has not been sold as retail before and only has delivery milage on the clock.</p>
 
        </div>
      </details>

    <!-- this is one whole radio button, the input is inside the label tags -->
    <label for="radio-inline-1" class="block-label" style="padding-left:50px;margin-top:0;">

      <input id="radio-inline-1" type="radio" name="branch" value="import">
      <!-- in the input we set type (radio) variable and value for the link to next page -->
      an Imported Vehicle

    </label> 
    <br clear="all">

      <details style="">
        <summary>
          <span class="summary">What is classed as an import</span>
        </summary>
        <div class="panel-indent js-hidden" id="details-content-0" aria-hidden="true" style="display: none; border-left-width: 16px; border-left-style: solid; border-left-color: rgb(235, 235, 235); padding: 0px 20px; margin: 12px 0px;">
        
        <p>A new or used vehicle being brought into the UK for 6 months or over in a 12 month rolling period.</p>
 
        </div>
      </details>

    
    <!-- this is a second radio button, the input is inside the label tags -->
    <label for="radio-inline-2" class="block-label" style="padding-left:50px;margin-bottom:0">

      <input id="radio-inline-2" type="radio" name="branch" value="rebuild">
      <!-- again set the value, this time for a different page to link to next -->
      a rebuild
   
    </label>
    <br clear="all">

      <details style="">
        <summary>
          <span class="summary">What is classed as an rebuild</span>
        </summary>
        <div class="panel-indent js-hidden" id="details-content-0" aria-hidden="true" style="display: none; border-left-width: 16px; border-left-style: solid; border-left-color: rgb(235, 235, 235); padding: 0px 20px; margin: 12px 0px;">
        
        <p>A vehicle that has been rebuilt using a mix of noth new and used parts.</p>
 
        </div>
      </details>


     <!-- this is a third radio button, the input is inside the label tags -->
    <label for="radio-inline-3" class="block-label" style="padding-left:50px;margin-bottom:0">

      <input id="radio-inline-3" type="radio" name="branch" value="kit">
      <!-- again set the value, this time for a different page to link to next -->
      a kit vehicle
   
    </label>
    <br clear="all">
<details style="">
        <summary>
          <span class="summary">What is classed as a kit built vehicle</span>
        </summary>
        <div class="panel-indent js-hidden" id="details-content-0" aria-hidden="true" style="display: none; border-left-width: 16px; border-left-style: solid; border-left-color: rgb(235, 235, 235); padding: 0px 20px; margin: 12px 0px;">
        
        <p>A <u>kit built</u> vehicle is one where all the parts of a vehicle are supplied new by the manufacturer.<span> A <u>Kit conversion</u> is a vehicle where a kit of new parts is added to an existing vehicle or old parts are added to a new kit.</p>
 
        </div>
      </details>


    <!-- one green action button per page -->
    <div class="form-group" style="padding-top:2.2em">

      <input type="submit" class="button" value="Continue">

    </div>





  </form><!-- end of the form -->


</main><!-- end content container -->




{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}