{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/parsley.min.js"></script>

    <script type="text/javascript" src="/dvladesign/app/views/examples/elements/editfield.js"></script>

<script type="text/javascript" src="/app/testjava.js"></script>

    <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<header class="page-header">

<style type="text/css">

.border-bottom-summary {
  padding-right: -15px;
  border-width: 1px;
  border-color: #c0c0c0;
  border-bottom-style: solid;
  margin: 0 0px;
}

</style>




</header>

{{/head}}


{{$propositionHeader}}
  
  {{>includes/govuk_firstregprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}


<main id="content" role="main" style="padding-bottom:0">


  <!-- <h1 class="form-title heading-xlarge">
    Taxing a vehicle
  </h1> -->


  <div>
  <a class="back-to-previous" href="javascript:history.back()">Back <span class="visuallyhidden"> to the previous question</span></a>
  </div>

  <br clear="all">





  <form action="basic-flow" method="get" class="form">
  <input type="hidden" name="nextlink" value="keeperlicence">
  




    <h2 class="heading-medium" style="padding:0;margin:0 0 0.3em 0">Vehicle details</h2>
      <p style="">We have gathered these details on your vehicle, please check andd correct as required</p>


    <ul class="ul-data">

         <li><span>Manufacturer</span><strong>Volkswagen</strong></li>
         <li><span>Make</span><strong>Volkswagen</strong></li>
          <li><span>Model</span><strong>Caddy Maxi 1.6 TDI</strong></li>
          <li><span>Type of body/<br>vehicle</span></br><strong>5 door van</strong></li>
          <li><span>Wheelplan</span><strong>2-Axle Rigid</strong></li>
          <li><span>Colour(s)</span><strong>Ruby Red</strong></li>
          <li><span>Type Approval <br>Number/Category</span><strong>XX</strong></li>
          <li><span>Type</span><strong>XX</strong></li>
          <li><span>Variant</span><strong>XX</strong></li>
          <li><span>Version</span><strong>XX</strong></li>
        </ul>

      </div>
<details style="">
        <summary>
          <span class="summary">Where did we get this information?</span>
        </summary>
        <div class="panel-indent js-hidden" id="details-content-0" aria-hidden="true" style="display: none; border-left-width: 16px; border-left-style: solid; border-left-color: rgb(235, 235, 235); padding: 0px 20px; margin: 12px 0px;">
        
        <p>Our informtion is provided by the Vehicle Certification Agency. </p>
 
        </div>
      </details>

      <div class="column-two-thirds" style="width:72%">

        <div class="vehicle-details">
        
        </div>

      </div>
    </div><!-- end grid row -->


    


  <br clear="all">

  


  <!-- pretty useless info about how we check electronic MOT certificates here 
  from policy I assume <a href="#" rel="external" target="_new">Find out how we do this</a> -->



  <!-- Primary buttons, secondary links -->
  <div class="form-group" style="padding:1em 0">
    <input type="submit" class="button" value="Continue">

    
  </div>

</form>

</main><!-- / #page-container -->

    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">

        <div class="footer-meta">
          <div class="footer-meta-inner">

            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <!--end footer-->

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/public/javascripts/govuk-template.js?0.12.0" type="text/javascript"></script>

  <!-- govuk_elements js -->
  <script src="/public/javascripts/details.polyfill.js"></script>  </body>

</main><!-- end content container -->




{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
